fastapi
uvicorn[standard]
langgraph
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
pinecone
fpdf2
pypdf
huggingface_hub
supabase
pydantic
pydantic-settings
python-dotenv
google-api-python-client
google-auth-oauthlib
pytest
httpx